OutDoor Guide/OutDoor_Guide/Service References/WebServiceReference/Sync.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="carre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="carreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="carreResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hello">
        <s:complexType />
      </s:element>
      <s:element name="helloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="helloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyWb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RessourceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyWbResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyWbResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getServerDate">
        <s:complexType />
      </s:element>
      <s:element name="getServerDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getServerDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDataBaseDefinitions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDataBaseDefinitionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDataBaseDefinitionsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setUpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTableData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTableDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTableDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="carreSoapIn">
    <wsdl:part name="parameters" element="tns:carre" />
  </wsdl:message>
  <wsdl:message name="carreSoapOut">
    <wsdl:part name="parameters" element="tns:carreResponse" />
  </wsdl:message>
  <wsdl:message name="helloSoapIn">
    <wsdl:part name="parameters" element="tns:hello" />
  </wsdl:message>
  <wsdl:message name="helloSoapOut">
    <wsdl:part name="parameters" element="tns:helloResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyWbSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyWb" />
  </wsdl:message>
  <wsdl:message name="VerifyWbSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyWbResponse" />
  </wsdl:message>
  <wsdl:message name="getServerDateSoapIn">
    <wsdl:part name="parameters" element="tns:getServerDate" />
  </wsdl:message>
  <wsdl:message name="getServerDateSoapOut">
    <wsdl:part name="parameters" element="tns:getServerDateResponse" />
  </wsdl:message>
  <wsdl:message name="getDataBaseDefinitionsSoapIn">
    <wsdl:part name="parameters" element="tns:getDataBaseDefinitions" />
  </wsdl:message>
  <wsdl:message name="getDataBaseDefinitionsSoapOut">
    <wsdl:part name="parameters" element="tns:getDataBaseDefinitionsResponse" />
  </wsdl:message>
  <wsdl:message name="setUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:setUpdate" />
  </wsdl:message>
  <wsdl:message name="setUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:setUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="getTableDataSoapIn">
    <wsdl:part name="parameters" element="tns:getTableData" />
  </wsdl:message>
  <wsdl:message name="getTableDataSoapOut">
    <wsdl:part name="parameters" element="tns:getTableDataResponse" />
  </wsdl:message>
  <wsdl:portType name="SyncSoap">
    <wsdl:operation name="carre">
      <wsdl:input message="tns:carreSoapIn" />
      <wsdl:output message="tns:carreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="hello">
      <wsdl:input message="tns:helloSoapIn" />
      <wsdl:output message="tns:helloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyWb">
      <wsdl:input message="tns:VerifyWbSoapIn" />
      <wsdl:output message="tns:VerifyWbSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getServerDate">
      <wsdl:input message="tns:getServerDateSoapIn" />
      <wsdl:output message="tns:getServerDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDataBaseDefinitions">
      <wsdl:input message="tns:getDataBaseDefinitionsSoapIn" />
      <wsdl:output message="tns:getDataBaseDefinitionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setUpdate">
      <wsdl:input message="tns:setUpdateSoapIn" />
      <wsdl:output message="tns:setUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTableData">
      <wsdl:input message="tns:getTableDataSoapIn" />
      <wsdl:output message="tns:getTableDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SyncSoap" type="tns:SyncSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="carre">
      <soap:operation soapAction="http://tempuri.org/carre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hello">
      <soap:operation soapAction="http://tempuri.org/hello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyWb">
      <soap:operation soapAction="http://tempuri.org/VerifyWb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServerDate">
      <soap:operation soapAction="http://tempuri.org/getServerDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataBaseDefinitions">
      <soap:operation soapAction="http://tempuri.org/getDataBaseDefinitions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUpdate">
      <soap:operation soapAction="http://tempuri.org/setUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTableData">
      <soap:operation soapAction="http://tempuri.org/getTableData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SyncSoap12" type="tns:SyncSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="carre">
      <soap12:operation soapAction="http://tempuri.org/carre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hello">
      <soap12:operation soapAction="http://tempuri.org/hello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyWb">
      <soap12:operation soapAction="http://tempuri.org/VerifyWb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServerDate">
      <soap12:operation soapAction="http://tempuri.org/getServerDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataBaseDefinitions">
      <soap12:operation soapAction="http://tempuri.org/getDataBaseDefinitions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUpdate">
      <soap12:operation soapAction="http://tempuri.org/setUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTableData">
      <soap12:operation soapAction="http://tempuri.org/getTableData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sync">
    <wsdl:port name="SyncSoap" binding="tns:SyncSoap">
      <soap:address location="http://37.187.168.96/TRC_Chauffeur_dev/Sync.asmx" />
    </wsdl:port>
    <wsdl:port name="SyncSoap12" binding="tns:SyncSoap12">
      <soap12:address location="http://37.187.168.96/TRC_Chauffeur_dev/Sync.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>